website-support-chatbot/workflow.json
{
  "name": "Website Support Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "website-chat",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "const msg = $json.message || $json.text || \"\";\nconst siteContext = $json.site || \"default\";\nreturn [{ json: { prompt: `Act as a helpful support agent for ${siteContext}. User: ${msg}` } }];"
      },
      "id": "2",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "url": "YOUR_LLM_ENDPOINT",
        "method": "POST",
        "jsonParameters": true,
        "sendBody": true,
        "options": {}
      },
      "id": "3",
      "name": "Call LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [820, 300]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "const reply = $json.reply || $json.choices?.[0]?.message?.content || \"Sorry, I could not generate a reply.\";\nreturn [{ json: { reply } }];"
      },
      "id": "4",
      "name": "Format Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseData": "json",
        "responseBody": "={{$json}}"
      },
      "id": "5",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]] },
    "Build Prompt": { "main": [[{ "node": "Call LLM", "type": "main", "index": 0 }]] },
    "Call LLM": { "main": [[{ "node": "Format Reply", "type": "main", "index": 0 }]] },
    "Format Reply": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {}
}
